#name {
    font-family: cursive;
    font-size : 50px;
    text-emphasis: underline;
    color: orange;
}


.about{
    font-family: cursive;
    color : red;
}

h2 {
    color: red;
}

li: hover {
    color: blue;
}